[package]
name = "slots_tracker"
version.workspace = true
edition.workspace = true
license-file.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
workspace_hack = { version = "0.1", path = "../workspace_hack" }
# Add dependencies as needed
