[package]
name = "slots_tracker"
version.workspace = true
edition.workspace = true
license-file.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
workspace_hack.workspace = true
# Add dependencies as needed
