# Ignore everything, except the scripts required to install dependencies
# into our CI containers.
*
!.install
!.install/**
!build.sh
!.github/workflows/task-get-config.yml

# Make sure we don't include the boost directory in the context.
.install/boost/*
