*.pyc
*.o
*.d
*.pyo
*.so
*.a
*.out
*.log
*.aof
*.rdb
*.DS_Store
*.dSYM
*.zip
*.gz
*.bz2
*.tar
/bin/
/site/*
/build*/
/artifacts/
/venv*/
srcutil/lemon
src/query_parser/lemon
.vscode/*
.idea/*
.project
.cproject
VSCODE.DB*
callgrind.out.*
/deps/VectorSimilarity/

