*.pyc
*.o
*.d
*.pyo
*.so
*.a
*.out
*.log
*.aof
*.rdb
*.DS_Store
*.dSYM
/bin/
/site/
/venv*/
/srcutil/lemon
/src/query_parser/lemon
/.vscode/
/.idea/
.project
.cproject
VSCODE.DB*
callgrind.out.*
**/.ipynb_checkpoints/
/tests/logs/
/tests/pytests/logs/
/deps/RedisJSON/
/1/
