[submodule "deps/readies"]
	path = deps/readies
	url = https://github.com/RedisLabsModules/readies.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
