[submodule "deps/RediSearch"]
	path = deps/RediSearch
	url = git@github.com:RediSearch/RediSearch.git
[submodule "deps/rust-speedb"]
	path = deps/rust-speedb
	url = git@github.com:redislabsdev/rust-speedb.git
[submodule "deps/speedb-ent"]
	path = deps/speedb-ent
	url = git@github.com:redislabsdev/speedb-ent.git
