language: c
compiler: gcc
dist: trusty
install: make clean && make -j 4
before_script:
- pip install --user redis ramp-packer==1.2.3 rmtest
- git clone -b 4.0.2 --depth 1 https://github.com/antirez/redis.git
- cd redis
- make
- cd ..
env:
- REDIS_MODULE_PATH=$TRAVIS_BUILD_DIR/src/redisearch.so REDIS_PATH=$TRAVIS_BUILD_DIR/redis/src/redis-server
script:
- make test
- make package
deploy:
  provider: s3
  access_key_id: AKIAJV5TLHJABHC5XH7A
  secret_access_key:
    secure: aPG5de7/5tHF+PWA76wnwYVbBTUBSeH66kBLAMzNvT2rEVkxdR2kqDmnD+70RWNC4B4inhBbtrmWp+IVdXZ7w1o+dNCiOgo/Ddq3pBxNJhg6ue3qnDNM15DmeXtr8zwsY/tazrzWJuyDHJ9WpYXw9456884FmSrf8oBvLqfLWW8/TA5t4fgc9zkimEKUsxHNozQn9dW3FU36qi3QF1ZA2XC995V5ngXPUTKYr+q1eMCiBflItZp6Mw2J9NBGM7LKTuylYCv03NEcrOuiM/7Rk3D8WRVKn1bP+87Oo/uGqoWwGoNMw5w626xY6ff9kffV47Mgr1nrxHUju3eA/Mv8TdRlY02LlywcPWk43XbFvUD20rHYMvq0wq60VULGTItKfbYMeshz4q9YhEuaL24wBYruYnUP+J3iMv+UG69m48EXL/QxW4yvd3lIJhTrFh6hATsRl4SnRz2w6yzBvse5cq2vIU6TdUfrLi9rvVI16huOEPxrQ4jNkKYjZD2YVVOz7ycgb7WhAhmN1TpRAHb3xsnVMDwh9gdKUxjmZ9rOq/1oTUvYohj4bRK3J3X/SDR1kQg0cU6fuLK6vfw+T0MPL8fN3WplCaruywNmTqFzm4/ElbJvG8BZ6eFDNqtewcVkG9q4x/aCH3Tg/H2xwoIBbBLQ8SiY0SAn7Uu7GG0QQdo=
  skip_cleanup: true
  acl: public_read
  bucket: redismodules
  upload-dir: redisearch-oss
  on:
    branch: master
  local_dir: "$TRAVIS_BUILD_DIR/build"
notifications:
  slack:
    secure: O333QLHQ9pwIGSnolDY2ZGuFiHLQRdYR/47dWy6pE5nBPVHZ0H/OwophxzEFQ5Ewvm0rHvjjsxBG3gug7I0R0VQKrz8zO7r41NJI+3rOkoS935keaOek+evB6M7g1oj2rCvUhF9994/j12pzBBg+EmAJy+BLenkV6oIKyevzUAMdRlGM6A+RYzr6lgNpSlclc/I34g++piOr2Dpm3Gzm/ZqPjdHj/ALHphK4b3LnCwBtM+bZWScRYTuTC7A1Z7oDTvbaswMzjsHkW8hFoTGZ/8Ajg5zZWBkM+fQ3d4qrTWrqdqI9qflkKjGWpx54yH+m6+0fKEmSq7Cium+AqTraIZQwI6QwhVNqEa2g85mp6x/IzdQ55DjFSbwb3VPFEcMP2M7tQN/GgOcMxALhM0GAgQ11I7BfXnXZyclEiL5KqG+jK8tuf367um5RMlrdWChtMI+6n1+Yuw5/ZKTs+hih8CSxSDHQn88UmUqqnc6vvT7ZDNt2tcDD9tCBb688sCMH2fARxYidQGg72W+ghbs0Oh5sqdTgX93oIMKFHlEEG4f2pint5Tdbt3nl1v+u42bx/J9iJzCA/wXc7nHVygIfh8AD32F6gTnDgo4Fjq3wblQW4jxNj1faznUdZikyev9tuNesOc2r874crv/cszkCPJGTeSGmRodIkxpYDifbLsk=
