[package]
name = "generational_slab"
version.workspace = true
edition.workspace = true
license = "MIT"
publish.workspace = true

[lib]
bench = false

[features]
default = ["std"]
std = []

[lints]
workspace = true

[dependencies]
workspace_hack.workspace = true
