[package]
name = "generational_slab"
version.workspace = true
edition.workspace = true
license = "MIT"
publish.workspace = true

[lib]
bench = false

[features]
default = ["std"]
std = []
serde = ["dep:serde"]

[dependencies.serde]
version = "1"
optional = true
default-features = false
features = ["alloc"]

[lints]
workspace = true

[dependencies]
workspace_hack.workspace = true
