[package]
name = "fnv_ffi"
version.workspace = true
edition.workspace = true
license-file.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
fnv = { workspace = true }
workspace_hack = { version = "0.1", path = "../../workspace_hack" }
