[package]
name = "rqe_iterators_bencher"
version.workspace = true
edition.workspace = true
license-file.workspace = true
publish.workspace = true

[lints]
workspace = true

[lib]
# See https://bheisler.github.io/criterion.rs/book/faq.html#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options
bench = false

[[bench]]
name = "iterators"
harness = false

[build-dependencies]
bindgen.workspace = true
build_utils = { path = "../build_utils" }

[dependencies]
criterion.workspace = true
ffi.workspace = true
field.workspace = true
inverted_index.workspace = true
inverted_index_ffi = { version = "0.0.1", path = "../c_entrypoint/inverted_index_ffi" }
iterators_ffi = { path = "../c_entrypoint/iterators_ffi" }
itertools.workspace = true
redis_mock.workspace = true
rqe_iterators.workspace = true
rand.workspace = true
workspace_hack.workspace = true

query_error_ffi = { path = "../c_entrypoint/query_error_ffi" }
slots_tracker_ffi = { path = "../c_entrypoint/slots_tracker_ffi" }
triemap_ffi = { path = "../c_entrypoint/triemap_ffi" }
types_ffi = { path = "../c_entrypoint/types_ffi" }
value_ffi = { path = "../c_entrypoint/value_ffi" }
varint_ffi = { path = "../c_entrypoint/varint_ffi" }
