version: 2
jobs:
  build:
     docker:
       - image: redislabsmodules/rmbuilder:latest

     steps:
      - checkout
      - run:
          name: Build
          command: 'make -j 8'
      - run:
          name: Test
          command: make test
