[package]
name = "fnv"
version.workspace = true
edition.workspace = true
license-file.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
hash32.workspace = true
workspace_hack.workspace = true
