[package]
name = "numeric_range_tree"
version.workspace = true
edition.workspace = true
license-file.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
ffi.workspace = true
hll.workspace = true
inverted_index.workspace = true
inverted_index_ffi = { path = "../c_entrypoint/inverted_index_ffi" }
workspace_hack.workspace = true

[dev-dependencies]
proptest = { workspace = true, features = ["std"] }
