--only-binary=gevent
gevent <= 24.11.1
packaging <= 24.2
deepdiff <= 8.3.0
# `orderly-set` is imported by `deepdiff` and may be updated from it even if we
# pin `deepdiff`, thus we pin `orderly-set` here as well.
# It is supported from Python 3.8+, thus the condition is added.
orderly-set <= 5.3.0; python_version >= "3.8"
redis >= 5.2.1
RLTest <= 0.7.16
numpy <= 2.2.4
scipy <= 1.15.2
faker <= 37.1.0
distro <= 1.9.0
