--only-binary=gevent
certifi <= 2025.10.5
charset-normalizer <= 3.4.3
colorama           <= 0.4.6
conan              <= 2.15.0
coverage           <= 7.10.7
deepdiff           <= 8.3.0
distro             <= 1.8.0
fasteners          <= 0.20
gevent             <= 24.11.1
greenlet           <= 3.2.4
idna               <= 3.10
iniconfig          <= 2.1.0
Jinja2 <= 3.1.6
MarkupSafe <= 3.0.3
numpy <= 2.2.4
orderly-set <= 5.3.0
packaging <= 24.2
patch-ng <= 1.18.1
pip <= 25.2
pluggy <= 1.6.0
progressbar2 <= 4.2.0
psutil <= 5.9.8
pytest <= 7.4.4
pytest-cov <= 4.1.0
python-dateutil <= 2.9.0.post0
python-utils <= 3.9.1
PyYAML <= 6.0.3
redis <= 5.0.8
requests <= 2.32.5
RLTest <= 0.7.16
scipy <= 1.15.2
setuptools <= 80.9.0
six <= 1.17.0
typing_extensions <= 4.15.0
urllib3 <= 2.0.7
zope.event <= 6.0
zope.interface <= 8.0.1
