[package]
name = "trie_bencher"
version.workspace = true
edition.workspace = true
license.workspace = true

[[bench]]
name = "operations"
harness = false

[dependencies]
fs-err.workspace = true
crc32fast.workspace = true
criterion.workspace = true
trie_rs.workspace = true
ureq.workspace = true

[build-dependencies]
cc.workspace = true
bindgen.workspace = true

[lints]
workspace = true
