[package]
name = "trie_bencher"
version.workspace = true
edition.workspace = true
license.workspace = true


[lib]
# Disable running the library unit tests during benchmarking
bench = false

[[bin]]
name = "trie_bencher"
# Disable running the binary unit tests during benchmarking
bench = false

[[bench]]
name = "operations"
harness = false

[dependencies]
crc32fast.workspace = true
criterion.workspace = true
csv.workspace = true
fs-err.workspace = true
trie_rs.workspace = true
ureq.workspace = true

[build-dependencies]
cc.workspace = true
bindgen.workspace = true

[lints]
workspace = true
