[package]
name = "trie_bencher"
version.workspace = true
edition.workspace = true
license.workspace = true

[[bench]]
name = "operations"
harness = false

[dependencies]
crc32fast.workspace = true
criterion.workspace = true
fs-err.workspace = true
radix_trie.workspace = true
trie_rs.workspace = true
ureq.workspace = true
strum.workspace = true
csv.workspace = true

[build-dependencies]
cc.workspace = true
bindgen.workspace = true

[lints]
workspace = true
