[package]
name = "rqe_iterators"
version.workspace = true
edition.workspace = true
license-file.workspace = true
publish.workspace = true

[features]
# feature enabled when building tests so they can link the C code in build.rs
# see https://github.com/rust-lang/cargo/issues/4789#issuecomment-2308131243
unittest = []
# They currently trigger a bug in hybrid (MOD-12370). This feature should be removed
# once the bug has been fixed.
disable_sort_checks_in_idlist = []

[build-dependencies]
build_utils = { path = "../build_utils" }

[dependencies]
ffi.workspace = true
field.workspace = true
inverted_index.workspace = true
libc.workspace = true
query_error.workspace = true
thiserror.workspace = true
redis_mock.workspace = true
numeric_range_tree_ffi = { path = "../c_entrypoint/numeric_range_tree_ffi" }
value_ffi = { path = "../c_entrypoint/value_ffi" }
types_ffi = { path = "../c_entrypoint/types_ffi" }
varint_ffi = { path = "../c_entrypoint/varint_ffi" }
value = { workspace = true, features = ["c_ffi_impl"] }
workspace_hack.workspace = true

[dev-dependencies]
pretty_assertions.workspace = true
proptest = { workspace = true, features = ["std"] }
rqe_iterators = { path = ".", features = ["unittest"] }
rqe_iterators_test_utils = { workspace = true }

# Crate required to invoke C symbols
redisearch_rs = { path = "../c_entrypoint/redisearch_rs", features = ["mock_allocator"] }

[lints]
workspace = true
