IndentWidth: 4
ColumnLimit: 120
SortIncludes: false
AlignEscapedNewlinesLeft: false
AlignConsecutiveMacros: true
SpacesBeforeTrailingComments: 1
AlwaysBreakTemplateDeclarations: true
SpaceAfterTemplateKeyword: true
AccessModifierOffset: -4
PointerAlignment: Left
