[package]
name = "hll_bencher"
version.workspace = true
edition.workspace = true
license-file.workspace = true
publish.workspace = true

[lints]
workspace = true

[lib]
bench = false

[[bench]]
name = "hll_operations"
harness = false

[dependencies]
criterion.workspace = true
hll = { path = "../hll" }
