name: Pull Request Flow

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  pull_request:
    branches-ignore: [guyav-gha_refactor*, feature-github-actions] # TODO: remove
    paths-ignore:
      - "README.md"
      - "docs/**"
      - "licenses/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  basic-test:
    uses: ./.github/workflows/task-test.yml
    with:
      env: ubuntu-latest
      test-config: QUICK=1
    secrets: inherit

  coverage:
    uses: ./.github/workflows/flow-coverage.yml
    secrets: inherit

  sanitize:
    uses: ./.github/workflows/flow-sanitizer.yml
    secrets: inherit
    with:
      flow-config: QUICK=1

  pr-validation:
    needs: [basic-test, coverage, sanitize]
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    steps:
      - if: contains(needs.*.result, 'failure')
        run: exit 1
