name: Pull Request Flow

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review] # Defaults + ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-what-changed:
    uses: ./.github/workflows/task-check-changes.yml
    with:
      env: ${{ vars.RUNS_ON || 'ubuntu-latest' }}

  lint:
    needs: check-what-changed
    if: ${{ needs.check-what-changed.outputs.CODE_CHANGED == 'true' }}
    uses: ./.github/workflows/task-lint.yml
    with:
      env: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    secrets: inherit

  spellcheck:
    uses: ./.github/workflows/task-spellcheck.yml

  basic-test:
    needs: check-what-changed
    if: ${{ needs.check-what-changed.outputs.CODE_CHANGED == 'true' }}
    uses: ./.github/workflows/task-test.yml
    with:
      env: "ubuntu-latest"
      test-config: QUICK=1
      get-redis: unstable
      rejson-branch: master
    secrets: inherit

  micro-benchmarks:
    needs: check-what-changed
    if: >
      (
        (!github.event.pull_request.draft && needs.check-what-changed.outputs.RUST_CODE_CHANGED == 'true') ||
        contains(github.event.pull_request.labels.*.name, 'enforce:micro-benchmarks')
      )
    uses: ./.github/workflows/flow-micro-benchmarks.yml
    with:
      env: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    secrets: inherit

  coverage:
    needs: check-what-changed
    if: >
      vars.ENABLE_CODE_COVERAGE != 'false' && (
          (!github.event.pull_request.draft && needs.check-what-changed.outputs.CODE_CHANGED == 'true') ||
          contains(github.event.pull_request.labels.*.name, 'enforce:coverage')
      )
    uses: ./.github/workflows/task-test.yml
    with:
      rejson-branch: master
      coverage: 1
      test-config: QUICK=1
    secrets: inherit

  sanitize:
    needs: check-what-changed
    if: >
      (
        (!github.event.pull_request.draft && needs.check-what-changed.outputs.CODE_CHANGED == 'true') ||
        contains(github.event.pull_request.labels.*.name, 'enforce:sanitize')
      )
    secrets: inherit
    uses: ./.github/workflows/task-test.yml
    with:
      get-redis: unstable
      test-config: QUICK=1
      san: address
      env: ubuntu-latest
      rejson-branch: master
      run_miri: true

  pr-validation:
    needs:
      - check-what-changed
      - spellcheck
      - basic-test
      - micro-benchmarks
      - lint
      - coverage
      - sanitize
    runs-on: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    if: ${{!cancelled()}}
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
