name: Pull Request Flow

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review] # Defaults + ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-latest-redis-tag:
    uses: ./.github/workflows/task-get-latest-tag.yml
    with:
      repo: redis/redis
      prefix: '7.4'

  generate-basic-matrix:
    uses: ./.github/workflows/generate-basic-matrix.yml
    with:
      include-basic-test: true
      include-coverage: ${{ vars.ENABLE_CODE_COVERAGE != 'false' && ((!github.event.pull_request.draft) || contains(github.event.pull_request.labels.*.name, 'enforce:coverage')) }}
      include-sanitize: ${{ (!github.event.pull_request.draft) || contains(github.event.pull_request.labels.*.name, 'enforce:sanitize') }}

  test-matrix:
    needs: [get-latest-redis-tag, generate-basic-matrix]
    # Run if there are jobs AND (lint succeeded or was skipped) AND (spellcheck succeeded or was skipped)
    if: ${{ needs.generate-basic-matrix.outputs.has-jobs == 'true' && !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}
    strategy:
      matrix: ${{ fromJson(needs.generate-basic-matrix.outputs.matrix) }}
      # in the case of pull requests we want to run all jobs, even if one fails
      # we aren't blocking anybody from merging, and we want to see all failures
      fail-fast: false
    uses: ./.github/workflows/task-test.yml
    secrets: inherit
    with:
      platform: ubuntu:default
      architecture: x86_64
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}
      test-config: QUICK=1
      coverage: ${{ (matrix.job-type || 'test') == 'coverage' }}
      san: ${{ (matrix.job-type || 'test') == 'sanitize' && 'address' || '' }}
      rejson-branch: '2.8'

  pr-validation:
    needs:
      - get-latest-redis-tag
      - test-matrix
    runs-on: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    if: ${{ !cancelled() }}
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
