name: Nightly Flow

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  schedule:
    - cron: "20 20 * * *"

# TODO: Use RedisJSON's `master` branch when testing on nightly

jobs:
  test-all-platforms:
    uses: ./.github/workflows/flow-test.yml
    secrets: inherit
    with:
      platform: all
      architecture: all
      redis-ref: unstable
      test-config: QUICK=1
      fail-fast: false
      include-coverage: ${{ vars.ENABLE_CODE_COVERAGE != 'false' }}
      include-sanitize: true

  run-on-intel:
    secrets: inherit
    uses: ./.github/workflows/flow-intel.yml
    with:
      get-redis: unstable

  micro-benchmarks:
    uses: ./.github/workflows/flow-micro-benchmarks.yml
    secrets: inherit


  notify-failure:
    needs: [test-all-platforms, run-on-intel, micro-benchmarks]
    if: failure()
    runs-on: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    steps:
      - name: Notify Failure
        uses: slackapi/slack-github-action@v1
        with:
          payload: |
            {
              "failed_workflow": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_NIGHTLY_FAILED }}
