name: Nightly Flow

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  schedule:
    - cron: "20 20 * * *"

# TODO: Use RedisJSON's `master` branch when testing on nightly

jobs:
  test-all-platforms:
    uses: ./.github/workflows/flow-test.yml
    secrets: inherit
    with:
      platform: all
      architecture: all
      redis-ref: unstable
      test-config: QUICK=1
      fail-fast: false

  coverage:
    if: ${{ vars.ENABLE_CODE_COVERAGE != 'false' }}
    uses: ./.github/workflows/task-test.yml
    secrets: inherit
    with:
      platform: ubuntu:default
      architecture: x86_64
      coverage: true
      test-config: QUICK=1
      get-redis: unstable

  run-on-intel:
    secrets: inherit
    uses: ./.github/workflows/flow-intel.yml
    with:
      get-redis: unstable

  sanitize:
    secrets: inherit
    uses: ./.github/workflows/task-test.yml
    with:
      platform: ubuntu:default
      architecture: x86_64
      get-redis: unstable
      test-config: QUICK=1
      san: address

  micro-benchmarks:
    uses: ./.github/workflows/flow-micro-benchmarks.yml
    secrets: inherit


  notify-failure:
    needs: [test-all-platforms, coverage, run-on-intel, sanitize, micro-benchmarks]
    if: failure()
    runs-on: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    steps:
      - name: Notify Failure
        uses: slackapi/slack-github-action@v1
        with:
          payload: |
            {
              "failed_workflow": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_NIGHTLY_FAILED }}
