name: Pull Request Flow

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review] # Defaults + ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-latest-redis-tag:
    uses: ./.github/workflows/task-get-latest-tag.yml
    with:
      repo: redis/redis
      prefix: '7.4'

  basic-test:
    needs: [get-latest-redis-tag]
    uses: ./.github/workflows/task-test.yml
    with:
      platform: ubuntu:default
      architecture: x86_64
      test-config: QUICK=1
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}
      rejson-branch: '2.8'
    secrets: inherit

  coverage:
    needs: [get-latest-redis-tag]
    if: >
      (
        vars.ENABLE_CODE_COVERAGE != 'false' &&
        (!github.event.pull_request.draft || contains(github.event.pull_request.labels.*.name, 'enforce:coverage'))
      )
    uses: ./.github/workflows/task-test.yml
    with:
      platform: ubuntu:default
      architecture: x86_64
      coverage: true
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}
      rejson-branch: '2.8'
      test-config: QUICK=1
    secrets: inherit

  sanitize:
    needs: [get-latest-redis-tag]
    if: >
      (
        (!github.event.pull_request.draft || contains(github.event.pull_request.labels.*.name, 'enforce:sanitize'))
      )
    secrets: inherit
    uses: ./.github/workflows/task-test.yml
    with:
      platform: ubuntu:default
      architecture: x86_64
      san: address
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}
      rejson-branch: '2.8'
      test-config: QUICK=1

  pr-validation:
    needs:
      - get-latest-redis-tag
      - basic-test
      - coverage
      - sanitize
    runs-on: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    if: ${{ !cancelled() }}
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
