name: Merge a pull request
run-name: Validate ${{ github.ref_name }}

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  merge_group:
    types: [checks_requested]

concurrency:
  # This group identifies the PR by the tree ID of the head commit.
  # TODO: Replace with PR number of branch name once GH adds it to the event context
  group: ${{ github.workflow }}-${{ github.event.merge_group.head_commit.tree_id }}
  cancel-in-progress: true

# TODO: Use RedisJSON's `${{ vars.DEFAULT_REDISJSON_REF }}` branch when testing on nightly

jobs:
  test-linux:
    uses: ./.github/workflows/flow-linux-platforms.yml
    secrets: inherit
    with:
      redis-ref: unstable
      rejson-branch: master

  test-macos:
    uses: ./.github/workflows/flow-macos.yml
    secrets: inherit
    with:
      redis-ref: unstable
      rejson-branch: master

  coverage:
    if: ${{ vars.ENABLE_CODE_COVERAGE != 'false'}}
    uses: ./.github/workflows/task-test.yml
    secrets: inherit
    with:
      rejson-branch: master
      coverage: 1
      test-config: '' # run all tests

  sanitize:
    secrets: inherit
    uses: ./.github/workflows/task-test.yml
    with:
      get-redis: unstable
      rejson-branch: master
      test-config: '' # run all tests
      san: address
      env: ubuntu-latest
      run_miri: true

  pr-validation:
    needs:
      - test-linux
      - test-macos
      - coverage
      - sanitize
    runs-on: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    if: ${{ !cancelled() }}
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
