name: Pull Request Flow

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  basic-test:
    needs: docs-only
    if: needs.docs-only.outputs.only-docs-changed == 'false'
    uses: ./.github/workflows/task-test.yml
    with:
      env: ubuntu-latest
      test-config: QUICK=1
    secrets: inherit

  coverage:
    needs: docs-only
    if: needs.docs-only.outputs.only-docs-changed == 'false'
    uses: ./.github/workflows/flow-coverage.yml
    secrets: inherit

  sanitize:
    needs: docs-only
    if: needs.docs-only.outputs.only-docs-changed == 'false'
    uses: ./.github/workflows/flow-sanitizer.yml
    secrets: inherit
    with:
      flow-config: QUICK=1

  docs-only: # Check whether the PR is only modifying docs
    uses: ./.github/workflows/task-check-docs.yml

  pr-validation:
    needs: [basic-test, coverage, sanitize]
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    steps:
      - if: contains(needs.*.result, 'failure')
        run: exit 1
