name: Pull Request Flow

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review] # Defaults + ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs-only: # Check whether the PR is only modifying docs
    uses: ./.github/workflows/task-check-docs.yml

  lint:
    needs: [docs-only]
    if: needs.docs-only.outputs.only-docs-changed == 'false'
    uses: ./.github/workflows/task-lint.yml
    with:
      env: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    secrets: inherit

  spellcheck:
    uses: ./.github/workflows/task-spellcheck.yml

  basic-test:
    needs: [docs-only]
    if: needs.docs-only.outputs.only-docs-changed == 'false'
    uses: ./.github/workflows/task-test.yml
    with:
      env: 'ubuntu-latest'
      test-config: QUICK=1
      get-redis: unstable
      rejson-branch: master
    secrets: inherit

  coverage:
    needs: docs-only
    if: ${{ vars.ENABLE_CODE_COVERAGE != 'false' && needs.docs-only.outputs.only-docs-changed == 'false' && !github.event.pull_request.draft }}
    uses: ./.github/workflows/flow-coverage.yml
    with:
      rejson-branch: master
    secrets: inherit

  sanitize:
    needs: [docs-only]
    if: ${{ needs.docs-only.outputs.only-docs-changed == 'false' && !github.event.pull_request.draft }}
    secrets: inherit
    uses: ./.github/workflows/task-test.yml
    with:
      get-redis: unstable
      test-config: QUICK=1
      san: address
      env: ubuntu-latest
      # container: ubuntu:latest
      rejson-branch: master
      # pre-steps-script: "apt update && apt install -y git" # ubuntus need to install git to support --recursive

  pr-validation:
    needs:
      - docs-only # if the setup jobs fail, the rest of the jobs will be skipped, and we will exit with a failure
      - spellcheck
      - basic-test
      - lint
      - coverage
      - sanitize
    runs-on: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    if: ${{ !cancelled() }}
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
