name: Merge a pull request
run-name: Validate ${{ github.ref_name }}

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  merge_group:
    types: [checks_requested]

concurrency:
  # This group identifies the PR by the tree ID of the head commit.
  # TODO: Replace with PR number of branch name once GH adds it to the event context
  group: ${{ github.workflow }}-${{ github.event.merge_group.head_commit.tree_id }}
  cancel-in-progress: true

# TODO: Use RedisJSON's `${{ vars.DEFAULT_REDISJSON_REF }}` branch when testing on nightly

jobs:
  get-latest-redis-tag:
    uses: ./.github/workflows/task-get-latest-tag.yml
    with:
      repo: redis/redis

  generate-matrix:
    uses: ./.github/workflows/generate-matrix.yml

  # Run tests on multiple platforms - matrix generated dynamically
  unified-test-matrix:
    name: ${{ matrix.platform }} (${{ matrix.architecture }})
    needs: [get-latest-redis-tag, generate-matrix]
    strategy:
      fail-fast: true  # This will cancel ALL matrix jobs on first failure
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    uses: ./.github/workflows/task-test.yml
    secrets: inherit
    with:
      platform: ${{ matrix.platform }}
      architecture: ${{ matrix.architecture }}
      test-config: QUICK=1
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}
      rejson-branch: '8.2'


  coverage:
    needs: get-latest-redis-tag
    if: ${{ vars.ENABLE_CODE_COVERAGE != 'false'}}
    uses: ./.github/workflows/task-test.yml
    secrets: inherit
    with:
      platform: ubuntu:default
      architecture: x86_64
      coverage: true
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}
      rejson-branch: '8.2'
      test-config: '' # run all tests

  run-on-intel:
    needs: get-latest-redis-tag
    secrets: inherit
    uses: ./.github/workflows/flow-intel.yml
    with:
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}

  sanitize:
    needs: get-latest-redis-tag
    uses: ./.github/workflows/task-test.yml
    secrets: inherit
    with:
      platform: ubuntu:default
      architecture: x86_64
      san: address
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}
      rejson-branch: '8.2'
      test-config: '' # run all tests

  pr-validation:
    needs:
      - get-latest-redis-tag
      - unified-test-matrix
      - run-on-intel
      - coverage
      - sanitize
    runs-on: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    if: ${{ !cancelled() }}
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
