name: Merge a pull request
run-name: Validate ${{ github.ref_name }}

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  workflow_dispatch:
  workflow_call:
  merge_group:
    types: [checks_requested]

concurrency:
  # This group identifies the PR by the head ref (branch name) of the merge group
  group: ${{ github.workflow }}-${{ github.event.merge_group.head_ref }}
  cancel-in-progress: true

jobs:
  get-latest-redis-tag:
    # TODO: Revert to using the latest stable ref in redis
    runs-on: ubuntu-latest
    outputs:
      tag: unstable
    steps:
      - run: echo "Dummy step to set output"
    # uses: ./.github/workflows/task-get-latest-tag.yml
    # with:
    #   repo: redis/redis

  lint:
    uses: ./.github/workflows/task-lint.yml
    secrets: inherit


# TODO: in version branches - this should turn into a single matrix runs it all (and not need for the test-macos separately)
  test-matrix:
    needs: [get-latest-redis-tag, lint]
    uses: ./.github/workflows/flow-test.yml
    secrets: inherit
    with:
      platform: 'ubuntu:default,macos'
      architecture: all
      redis-ref: ${{ needs.get-latest-redis-tag.outputs.tag }}
      job-test-config: '{"test": "", "coverage": "", "sanitize": ""}'
      options: ${{ vars.ENABLE_CODE_COVERAGE != 'false' && 'coordinator,standalone,rejson,fail-fast,coverage,sanitize' || 'coordinator,standalone,rejson,fail-fast,sanitize' }}
      rejson-branch: master

  run-on-intel:
    needs: get-latest-redis-tag
    secrets: inherit
    uses: ./.github/workflows/flow-intel.yml
    with:
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}

  pr-validation:
    needs:
      - get-latest-redis-tag
      - lint
      - test-matrix
      - run-on-intel
    runs-on: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    if: ${{ !cancelled() }}
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
