name: Nightly Flow

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  schedule:
    - cron: "20 20 * * *"

# TODO: Use RedisJSON's `master` branch when testing on nightly

jobs:
  test-all-platforms:
    uses: ./.github/workflows/flow-test.yml
    secrets: inherit
    with:
      platform: all
      architecture: all
      redis-ref: unstable
      test-config: QUICK=1
      fail-fast: false

  coverage:
    if: ${{ vars.ENABLE_CODE_COVERAGE != 'false' }}
    uses: ./.github/workflows/task-test.yml
    secrets: inherit
    with:
      platform: ubuntu:default
      architecture: x86_64
      coverage: true
      test-config: QUICK=1
      get-redis: unstable

  sanitize:
    secrets: inherit
    uses: ./.github/workflows/task-test.yml
    with:
      platform: ubuntu:default
      architecture: x86_64
      get-redis: unstable
      test-config: QUICK=1
      san: address
