name: Merge a pull request
run-name: Validate ${{ github.ref_name }}

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  merge_group:
    types: [checks_requested]

concurrency:
  # This group identifies the PR by the tree ID of the head commit.
  # TODO: Replace with PR number of branch name once GH adds it to the event context
  group: ${{ github.workflow }}-${{ github.event.merge_group.head_commit.tree_id }}
  cancel-in-progress: true

jobs:
  get-latest-redis-tag:
   uses: ./.github/workflows/task-get-latest-tag.yml
   with:
     repo: redis/redis

  lint:
    uses: ./.github/workflows/task-lint.yml
    secrets: inherit


# TODO: in version branches - this should turn into a single matrix runs it all (and not need for the test-macos separately)
  test-ubuntu-latest:
    needs: [get-latest-redis-tag, lint]
    uses: ./.github/workflows/flow-test.yml
    secrets: inherit
    with:
      platform: ubuntu:noble
      architecture: all
      redis-ref: ${{ needs.get-latest-redis-tag.outputs.tag }}
      job-test-config: '{"test": "", "coverage": "", "sanitize": ""}'
      options: ${{ vars.ENABLE_CODE_COVERAGE != 'false' && 'coordinator,standalone,rejson,fail-fast,coverage,sanitize' || 'coordinator,standalone,rejson,fail-fast,sanitize' }}
      rejson-branch: master

  test-macos:
    needs: [ get-latest-redis-tag, lint ]
    uses: ./.github/workflows/flow-test.yml
    secrets: inherit
    with:
      platform: macos
      architecture: all
      redis-ref: ${{ needs.get-latest-redis-tag.outputs.tag }}
      job-test-config: '{"test": ""}'
      options: 'coordinator,standalone,rejson,fail-fast'
      rejson-branch: master

  run-on-intel:
    needs: get-latest-redis-tag
    secrets: inherit
    uses: ./.github/workflows/flow-intel.yml
    with:
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}

  pr-validation:
    needs:
      - get-latest-redis-tag
      - lint
      - test-ubuntu-latest
      - test-macos
      - run-on-intel
    runs-on: ${{ vars.RUNS_ON || 'ubuntu-latest' }}
    if: ${{ !cancelled() }}
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
