name: Merge a pull request
run-name: Validate ${{ github.ref_name }}

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  merge_group:
    types: [checks_requested]

concurrency:
  # This group identifies the PR by the tree ID of the head commit.
  # TODO: Replace with PR number of branch name once GH adds it to the event context
  group: ${{ github.workflow }}-${{ github.event.merge_group.head_commit.tree_id }}
  cancel-in-progress: true

# TODO: Use RedisJSON's `${{ vars.DEFAULT_REDISJSON_REF }}` branch when testing on nightly

jobs:
  get-latest-redis-tag:
    uses: ./.github/workflows/task-get-latest-tag.yml
    with:
      repo: redis/redis
      prefix: '8.0'

  test-linux:
    needs: [get-latest-redis-tag]
    uses: ./.github/workflows/flow-linux-platforms.yml
    secrets: inherit
    with:
      redis-ref: ${{ needs.get-latest-redis-tag.outputs.tag }}
      rejson-branch: '8.0'

  test-macos:
    needs: [get-latest-redis-tag]
    uses: ./.github/workflows/flow-macos.yml
    secrets: inherit
    with:
      redis-ref: ${{ needs.get-latest-redis-tag.outputs.tag }}
      rejson-branch: '8.0'

  coverage:
    if: ${{ vars.ENABLE_CODE_COVERAGE == 'true' }}
    uses: ./.github/workflows/flow-coverage.yml
    secrets: inherit
    with:
      rejson-branch: '8.0'

  sanitize:
    needs: [get-latest-redis-tag]
    secrets: inherit
    uses: ./.github/workflows/task-test.yml
    with:
      get-redis: ${{ needs.get-latest-redis-tag.outputs.tag }}
      rejson-branch: '8.0'
      test-config: '' # run all tests
      san: address
      env: ubuntu-latest

  pr-validation:
    needs:
      - get-latest-redis-tag
      - test-linux
      - test-macos
      - coverage
      - sanitize
    runs-on: ${{ vars.RUNS_ON }}
    if: ${{ !cancelled() }}
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
