name: Trigger Build and Upload Artifacts for Environments

on:
  workflow_dispatch:
    inputs:
      platform:
        type: choice
        options:
          - all
          - ubuntu:jammy
          - ubuntu:focal
          - rockylinux:8
          - rockylinux:9
          - debian:bullseye
          - amazonlinux:2
          - mariner:2
          - azurelinux:3
          - macos
        description: 'Platform to build on. Use "all" to build on all'
        default: all
      architecture:
        type: choice
        options:
          - all
          - x86_64
          - aarch64
        description: 'Architecture to build on. Use "all" to build on all'
        default: all
  workflow_call:
    inputs:
      platform:
        type: string
        default: all
      architecture:
        type: string
        default: all

jobs:
  get-latest-redis-tag:
    uses: ./.github/workflows/task-get-latest-tag.yml
    with:
      repo: redis/redis
      prefix: '7.4'

  setup:
    # Sets SHA and Validates the reference Input (branch or tag)
    runs-on: ubuntu-latest
    needs: [get-latest-redis-tag]
    outputs:
      sha: ${{ steps.set-sha.outputs.sha }}
      redis-ref: ${{ needs.get-latest-redis-tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
      - id: set-sha
        run: echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
      - name: Validate Reference
        shell: python
        run: |
          from re import fullmatch
          ref = '${{ github.ref_name }}'
          if bool(fullmatch(r'[0-9]+\.[0-9]+', ref)) or ref == 'master': # e.g. 2.8, 2.10, master
            if '${{ inputs.architecture }}' != 'all' or '${{ inputs.platform }}' != 'all':
              print("::error title=Invalid Request::"
                    "You can only build all configurations for master or a release branch")
              exit(1)

  generate-matrix:
    uses: ./.github/workflows/generate-matrix.yml
    with:
      platform: ${{ inputs.platform }}
      architecture: ${{ inputs.architecture }}

  build-unified:
    name: ${{ matrix.platform }} (${{ matrix.architecture }})
    needs: [setup, generate-matrix]
    if: ${{ needs.generate-matrix.outputs.has-jobs == 'true' }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    uses: ./.github/workflows/task-build-artifacts.yml
    secrets: inherit
    with:
      platform: ${{ matrix.platform }}
      architecture: ${{ matrix.architecture }}
      sha: ${{ needs.setup.outputs.sha }}
      redis-ref: ${{ needs.setup.outputs.redis-ref }}
