name: Intel self-hosted flow

on:
  workflow_call:
    inputs:
      get-redis:
        type: string

env:
  AWS_IMAGE_ID: ami-09fabd03bb09b3704
  AWS_INSTANCE_TYPE: c7i.xlarge
  TAGS: | # Make sure there is no trailing comma!
    [
      {"Key": "Name",         "Value": "redisearch-ci-runner"},
      {"Key": "Environment",  "Value": "CI"},
      {"Key": "Run ID",       "Value": "${{ github.run_id }}"},
      {"Key": "PR",           "Value": "${{ github.event.number }}"},
      {"Key": "Owner",        "Value": "${{ github.actor }}"},
      {"Key": "Project",      "Value": "${{ github.repository }}"}
    ]

jobs:
  start-runner:
    name: Start self-hosted EC2 runner
    runs-on: ubuntu-latest
    outputs:
      label: ${{ steps.start-ec2-runner.outputs.label }}
      ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.PERFORMANCE_EC2_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.PERFORMANCE_EC2_SECRET_KEY }}
          aws-region: ${{ secrets.PERFORMANCE_EC2_AWS_REGION }}
      - name: Start EC2 runner
        id: start-ec2-runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: start
          github-token: ${{ secrets.CI_GH_P_TOKEN }}
          ec2-image-id: ${{ env.AWS_IMAGE_ID }}
          ec2-instance-type: ${{ env.AWS_INSTANCE_TYPE }}
          subnet-id: ${{ secrets.AWS_EC2_SUBNET_ID_BENCHMARK }}
          security-group-id: ${{ secrets.AWS_EC2_SG_ID_BENCHMARK }}
          aws-resource-tags: ${{ env.TAGS }}

  run-tests:
    needs: start-runner # required to start the main job when the runner is ready
    uses: ./.github/workflows/task-test.yml
    secrets: inherit
    with:
      platform: intel
      architecture: x86_64
      custom-env: ${{ needs.start-runner.outputs.label }}
      test-config: QUICK=1
      get-redis: ${{ inputs.get-redis }}

  stop-runner:
    name: Stop self-hosted EC2 runner
    needs:
      - start-runner # required to get output from the start-runner job
      - run-tests # required to wait when the main job is done
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.PERFORMANCE_EC2_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.PERFORMANCE_EC2_SECRET_KEY }}
          aws-region: ${{ secrets.PERFORMANCE_EC2_AWS_REGION }}
      - name: Stop EC2 runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: stop
          github-token: ${{ secrets.CI_GH_P_TOKEN }}
          label: ${{ needs.start-runner.outputs.label }}
          ec2-instance-id: ${{ needs.start-runner.outputs.ec2-instance-id }}
