name: Build on macOS

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  workflow_dispatch:
    inputs:
      coordinator:
        description: 'Run coordinator tests'
        type: boolean
        default: true
      standalone:
        description: 'Run standalone tests'
        type: boolean
        default: true
      test-config:
        description: 'Test configuration environment variable (e.g. "CONFIG=tls" or "QUICK=1")'
        type: string
      redis-ref:
        description: 'Redis Reference to use (tag, branch, or commit). Defaults to "unstable"'
        type: string
      rejson:
        type: boolean
        default: true
        description: 'Enable tests with RedisJSON'
      rejson-branch:
        type: string
        default: '2.4'
        description: 'Branch to use when building RedisJSON for tests (default: 2.4)'
  workflow_call:
    inputs:
      test-config:
        description: 'Test configuration environment variable (e.g. "CONFIG=tls" or "QUICK=1")'
        type: string
      coordinator:
        type: boolean
        default: true
      standalone:
        type: boolean
        default: true
      redis-ref:
        type: string
      rejson:
        type: boolean
        default: true
        description: 'Enable tests with RedisJSON'
      rejson-branch:
        type: string
        default: '2.4'
        description: 'Branch to use when building RedisJSON for tests'

jobs:
  build-macos:
    strategy:
      fail-fast: false
      matrix:
        # arch: [macos-13, macos-latest-xlarge] # macos-latest-xlarge has M1 chip
        arch: [macos-13]
    uses: ./.github/workflows/task-test.yml
    with:
      env: ${{ matrix.arch }}
      test-config: ${{ inputs.test-config }}
      coordinator: ${{ inputs.coordinator }}
      standalone:  ${{ inputs.standalone }}
      get-redis:   ${{ inputs.redis-ref }}
      rejson: ${{ inputs.rejson }}
      rejson-branch: ${{ inputs.rejson-branch }}
    secrets: inherit
