name: temporary testing

on:
  push:
    # branches-ignore: ['*'] # ignore all branches. Comment this line to run your workflow below on every push.

jobs:
  print-context:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        OS: [macos-11]
        standalone: [true, true]
    steps:
      - run: |
          echo "I'm ${{ matrix.OS }} standing alone: ${{ matrix.standalone }}"
