name: Common Flow for Linting

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  workflow_call:
    inputs:
      env:
        default: "${{ vars.RUNS_ON }}"
        type: string

env:
  BOOST_VERSION: ${{ vars.BOOST_VERSION || '1.83.0' }}
  LLVM_VERSION: ${{ vars.LLVM_VERSION || 18 }}

jobs:
  common-flow:
    name: Linting ${{ inputs.env }}
    runs-on: ${{ inputs.env }}
    defaults:
      run:
        shell: bash -l -eo pipefail {0}
    steps:
      - name: Deps checkout
        uses: actions/checkout@v4
        with:
          path: setup
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            .install
            tests/pytests/requirements.*
      - name: Setup specific
        working-directory: setup/.install
        run: |
          ./install_script.sh "sudo"
      - name: Full checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Lint
        id: lint
        continue-on-error: true
        run: make lint
      - name: Format check
        id: fmt
        continue-on-error: true
        run: make fmt CHECK=1
      - name: Fail if any step failed
        if: steps.lint.outcome == 'failure' || steps.fmt.outcome == 'failure'
        run: |
          echo "Linting: ${{ steps.lint.outcome }}"
          echo "Formatting: ${{ steps.fmt.outcome }}"
          exit 1
