name: Common Flow for Tests

# Documentation: https://redislabs.atlassian.net/wiki/spaces/DX/pages/3967844669/RediSearch+CI+refactor

on:
  workflow_call:
    inputs:
      env:
        default: "${{ vars.RUNS_ON }}"
        type: string
      container:
        type: string
      san:
        type: string
      get-redis:
        type: string
      test-config:
        description: 'Test configuration environment variable (e.g. "CONFIG=tls" or "QUICK=1")'
        required: true
        type: string
      coordinator:
        type: boolean
        default: true
      standalone:
        type: boolean
        default: true
      pre-steps-script:
        type: string
        description: 'Script to run before any other steps (extremely basic dependency needs only)'
      rejson:
        type: number
        default: 1
      test-timeout:
        type: number
        default: 50

env:
  BOOST_VERSION: ${{ vars.BOOST_VERSION }}
  LLVM_VERSION: ${{vars.LLVM_VERSION}}
  VERBOSE_UTESTS: 1

jobs:
  common-flow:
    name: Test ${{ inputs.container || inputs.env }}, Redis ${{ inputs.get-redis || 'unstable' }}
    runs-on: ${{ inputs.env }}
    container: ${{ inputs.container || null }}
    # Nothing to do if both are `false`, skip
    if: ${{ inputs.standalone || inputs.coordinator }}
    defaults:
      run:
        shell: bash -l -eo pipefail {0}
    steps:
      - name: Pre-steps Dependencies
        if: inputs.pre-steps-script
        shell: sh -l -eo pipefail {0}
        run: ${{ inputs.pre-steps-script }}
      - name: Get Installation Mode
        id: mode
        run: |
          [[ -z "${{ inputs.container }}" ]] && echo "mode=sudo" >> $GITHUB_OUTPUT || echo "mode=" >> $GITHUB_OUTPUT
      - name: Check if node20 is Supported
        id: node20 # TODO: Remove this when node20 is supported on all platforms, or when we drop support for theses platforms
        run: |
          for platform in ubuntu:bionic centos:7 amazonlinux:2 alpine:3; do
            if [[ "${{ inputs.container }}" == "$platform" ]]; then
              echo "supported=false" >> $GITHUB_OUTPUT
              # https://github.com/actions/checkout/issues/1809
              echo "ACTIONS_RUNNER_FORCED_INTERNAL_NODE_VERSION=node16" >> $GITHUB_ENV
              echo "ACTIONS_RUNNER_FORCE_ACTIONS_NODE_VERSION=node16" >> $GITHUB_ENV
              # https://github.blog/changelog/2024-03-07-github-actions-all-actions-will-run-on-node20-instead-of-node16-by-default/
              echo "ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION=true" >> $GITHUB_ENV
              exit 0
            fi
          done
          echo "supported=true" >> $GITHUB_OUTPUT
      - name: Deps checkout (node20)
        if: steps.node20.outputs.supported == 'true'
        uses: actions/checkout@v4
        with:
          path: setup
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            .install
            tests/pytests/requirements.*
      - name: Deps checkout (node20 not supported)
        if: steps.node20.outputs.supported == 'false'
        uses: actions/checkout@v3
        with:
          path: setup
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            .install
            tests/pytests/requirements.*
      - name: Setup specific
        working-directory: setup/.install
        run: |
          ./install_script.sh ${{ steps.mode.outputs.mode }}
          ./test_deps/install_llvm.sh ${{ env.LLVM_VERSION }} ${{ steps.mode.outputs.mode }}
          ./test_deps/install_rust.sh
      - name: Full checkout (node20)
        if: steps.node20.outputs.supported == 'true'
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Full checkout (node20 not supported)
        if: steps.node20.outputs.supported == 'false'
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup common
        run: .install/common_installations.sh ${{ steps.mode.outputs.mode }}
      - name: Install Boost
        working-directory: .install
        run: ./install_boost.sh ${{ env.BOOST_VERSION }} ${{ steps.mode.outputs.mode }}
      - name: Get Redis (node20)
        if: ${{ steps.node20.outputs.supported == 'true' }}
        uses: actions/checkout@v4
        with:
          repository: redis/redis
          ref: ${{ inputs.get-redis }}
          path: redis
      - name: Get Redis (node20 not supported)
        if: ${{ steps.node20.outputs.supported == 'false' }}
        uses: actions/checkout@v3
        with:
          repository: redis/redis
          ref: ${{ inputs.get-redis }}
          path: redis
      - name: verify CC and CXX
        if: inputs.san == 'address'
        run: |
          echo "PATH=$HOME/.cargo/bin:$PATH" >> $GITHUB_ENV
          echo "CC=$(which clang-${{env.LLVM_VERSION}})" >> $GITHUB_ENV
          echo "CXX=$(which clang++-${{env.LLVM_VERSION}})" >> $GITHUB_ENV
          echo "LD=$(which clang-${{env.LLVM_VERSION}})" >> $GITHUB_ENV
      - name: Build Redis
        working-directory: redis
        run: ${{ steps.mode.outputs.mode }} make install BUILD_TLS=yes SANIIZER=${{ inputs.san }}

      - name: Set Artifact Names
        # Artifact names have to be unique, so we base them on the environment.
        # We also remove invalid characters from the name.
        id: artifact-names
        run: | # Invalid characters include: Double quote ", Colon :, Less than <, Greater than >, Vertical bar |, Asterisk *, Question mark ?
          echo "name=$(echo "${{ inputs.container || inputs.env }} ${{ runner.arch }}, Redis ${{ inputs.get-redis || 'unstable' }}" | \
                       sed -e 's/[":\/\\<>\|*?]/_/g' -e 's/__*/_/g' -e 's/^_//' -e 's/_$//')" >> $GITHUB_OUTPUT
      - name: Build
        run: make SAN=${{ inputs.san }}
      - name: Unit tests
        timeout-minutes: ${{ fromJSON(inputs.test-timeout) }}
        id: test1
        continue-on-error: true
        run: make unit-tests LOG=1 CLEAR_LOGS=0 SAN=${{ inputs.san }}
      - name: Flow tests (standalone)
        timeout-minutes: ${{ fromJSON(inputs.test-timeout) }}
        id: test2
        if: ${{ inputs.standalone }}
        continue-on-error: true
        run: make pytest SA=1 LOG=1 CLEAR_LOGS=0 SAN=${{ inputs.san }} ${{ inputs.test-config }} REJSON=${{ inputs.rejson }} TEST=test_async:testAlterIndex
      - name: Flow tests (coordinator)
        timeout-minutes: ${{ fromJSON(inputs.test-timeout) }}
        id: test3
        if: ${{ inputs.coordinator }}
        continue-on-error: true
        run: make pytest SA=0 LOG=1 CLEAR_LOGS=0 SAN=${{ inputs.san }} ${{ inputs.test-config }} REJSON=${{ inputs.rejson }} TEST=test_async:testAlterIndex

      # Using version 4 if node20 is supported, since it is MUCH faster (15m vs 25s)
      - name: Upload Artifacts
        # Upload artifacts only if node20 is supported and tests failed (including sanitizer failures)
        if: >
          steps.node20.outputs.supported == 'true' &&
          (steps.test1.outcome == 'failure' || steps.test2.outcome == 'failure' || steps.test3.outcome == 'failure' ||
           steps.test1.outcome == 'cancelled' || steps.test2.outcome == 'cancelled' || steps.test3.outcome == 'cancelled')
        uses: actions/upload-artifact@v4
        with:
          name: Test Logs ${{ steps.artifact-names.outputs.name }}
          path: tests/**/logs/*.log*
          if-no-files-found: ignore
      # If node20 is not supported, we can only use version 3.
      # Here we only upload the artifacts if the tests had failed, since it is very slow
      - name: Upload Artifacts (node20 not supported)
        # Upload artifacts only if tests failed (including sanitizer failures)
        if: >
          steps.node20.outputs.supported == 'false' &&
          (steps.test1.outcome == 'failure' || steps.test2.outcome == 'failure' || steps.test3.outcome == 'failure' ||
           steps.test1.outcome == 'cancelled' || steps.test2.outcome == 'cancelled' || steps.test3.outcome == 'cancelled')
        uses: actions/upload-artifact@v3
        with:
          name: Test Logs ${{ steps.artifact-names.outputs.name }}
          path: tests/**/logs/*.log*
          if-no-files-found: ignore

      - name: Fail flow if tests failed
        if: steps.test1.outcome == 'failure' || steps.test2.outcome == 'failure' || steps.test3.outcome == 'failure'
        run: exit 1
